BattleshipGameEngine/BoardOptionsXMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BoardOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AllowAdjacentShips" type="xs:boolean" />
        <xs:element name="AllowExtraMoveAfterHit" type="xs:boolean" />
        <xs:element name="BoardSize">
          <xs:complexType>
            <xs:attribute name="width" type="xs:positiveInteger" use="required" />
            <xs:attribute name="height" type="xs:positiveInteger" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Ships">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="Ship">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="count" type="xs:positiveInteger" use="required" />
                  <xs:attribute name="width" type="xs:positiveInteger" use="required" />
                  <xs:attribute name="height" type="xs:positiveInteger" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>